.model {
    padding: 1px 4px 1px 4px;
    margin-bottom: 14px;
}

.kia1 {
    width: 240px;
    height: 135px;
    border-radius: 5px;
    object-fit: cover;
}

.kia2 {
    padding: 4px 4px 1px 4px;
    font-size: 16px;
    margin-top: 16px;
}

.kia3 {
    color: #637387;
    padding: 1px 4px 1px 4px;
    font-size: 14px;
}

.card {

}