.Facebook{
        color: #ffffff;
        background-color: #1877f2;
        border: 1px solid #1877f2;
        border-radius: 4px;
        padding: 5px 30px 5px 30px;
     }
     .apple{
        color: #ffffff;
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
    border-radius: 4px;
    padding: 5px 30px 5px 30px;
     }